<h1>MY TASKS</h1>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
    <i class="<%= task.completed ? 'fas fa-check-square' : 'far fa-square' %>"></i>
    <%= link_to "#{task.title}: #{task.details}", task_path(task) %>
    <%= link_to task_path(task), method: :delete, data: {confirm: "Delete #{task.title}?"} do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>
<%= link_to new_task_path do %>
  <i class="fas fa-plus"></i> Add a new task
<% end %>
